In [ ]:
print(10)
print ("Stelios")
print ("London","Paris")

10
Stelios
London Paris

In [ ]:
print(10*2)

20

In [ ]:
input("Enter your name : ")

Enter your name : Lili

'Lili'

In [ ]:
# Print number 10.10
print (10.10)

10.1

In [ ]:
from typing_extensions import LiteralString
x = 10
print (x)
# x is called variable
name = "Lili"
print (name)

10
Lili

In [ ]:
city = input ("where are you from ? : ")
name = input ("what is your name ? : ")
print (name,city)

where are you from ? : Paris
what is your name ? : Lili
Lili Paris

In [ ]:
x = input ("Enter a number")
y = input ("Enter a second number")
print (x+y)

Enter a number10
Enter a second number20
1020

In [ ]:
x = int(input("Enter a number : "))
y = int(input("Enter a second number : "))
print ("result is",x+y)

Enter a number : 10
Enter a second number : 20
result is 30

In [ ]:
x = int(input ("Enter a number : "))
y = int (input("Enter a second number : "))
z = int (input("Enter a third number : "))
print ("result is : ", x*y*z)

Enter a number : 1
Enter a second number : 2
Enter a third number : 3
result is :  6

In [ ]:
a = float (input("Enter a number : "))
b = float (input("Enter a second number : "))
print ("result is : ", a/b)

Enter a number : 6
Enter a second number : 2
result is :  3.0

In [ ]:
x = float (input ("Enter a number : "))
y = float (input ("Enter a number : "))
if y == 0 :
  print ("I cannot divide")
else :
  print (x/y)

Enter a number : 10
Enter a number : 5
2.0

In [ ]:
city = input ("Enter a city : ")
if city == "Paris" :
  print ("Bonjour")
  print (10)
else :
  print ("Hi")
  print (100)

Enter a city : Paris
Bonjour
10

exercise 1

create a program to ask the user their name and their age. If the user is over 18, then print "you are an adult". If the user is under 18, then print "you are a kid !"

In [ ]:
x = input ("what is your name ? : ")
y = int(input ("how old are you ? : "))
# mettre "int" devant car 19 est un nombre !!!
# < , > , <= , >=
if y >= 18 :
  print ("you are an adult")
else :
  print ("you are a kid !")

what is your name ? : Lili
how old are you ? : 18
you are an adult

create a program, ask the user to enter two numbers. Print the maximum number

In [ ]:
a = int(input("Enter a number : "))
b = int (input("Enter a second number : "))
if a > b :
  print (a)
else :
  print (b)

Enter a number : 17
Enter a second number : 3
17

In [ ]:
x = 10
y = 20
if x > y :
  print ("x is greater than y")
elif x < y :
  print ("x is less than y")
else :
  print ("x is equal to y")

x is less than y

create a program to ask the user to enter a score.
If the score is less than 50 you failed.
If the score is between 50 and 70 you passed. If the score is greater than 70, you passed with distinction.

In [ ]:
score = int (input ("Enter a score : "))
if score < 50 :
  print ("you failed")
elif score >= 50 and score < 70 :
  print ("you passed")
elif score >= 70 and score <= 100 :
  print ("you passed with distinction")
else :
  print ("something is wrong")

Enter a score : 120
something is wrong

In [ ]:
x = int(input("Enter a number : "))
y = int(input("Enter a number : "))
operation = input ("Enter an operation (+,-,*,/,**)")
if operation == "+" :
  print (x+y)
elif operation == "-" :
  print (x-y)
elif operation == "*" :
  print (x*y)
elif operation == "/" and y !=0 :
  # == equal =! not equal
  print (x/y)
elif operation == "**" :
  print (x**y)
else :
  print ("I do not support this operation")

Enter a number : 10
Enter a number : 5
Enter an operation (+,-,*,/,**)**
100000

ask the user to enter a number. if the number is between 0 and 1, print the percentage of the number. in any other case, print please enter a number between 0 and 1.

In [ ]:
num = float (input("Enter a number : "))
if num >= 0 and num <= 1 :
  print (num*100, "%")
else :
  print ("I cannot do it !")

Enter a number : 0.5
50.0 %

In [ ]:
text = "My name is Lili and I live in London"
print (text [-6 :])
#always start from 0

London

ask the user to enter a city. If the user enters a city starting with L capital, print "starts with L capital". If else, print something else

In [ ]:

city = input ("Enter a city :")
if city [0] == "L" :
  print ("Starts with L")
else :
  print ("Doesn't start with L")

Enter a city :London
Starts with L

In [ ]:
phrase = input("Enter a phrase :")
if phrase [-1] != "." :
  print ("you need a dot!")
else :
  print ("All good!")

Enter a phrase :hello.
All good!