In [2]:
num = int(input("Enter a number : "))
if num > 0 :
  positive = True
else :
  negative = False

Enter a number : 77

In [3]:
print (positive)
#this is called boolean : it can be true or false

True

* if age < 18 you cannot watch the film
* if age >= 18 you can watch it
* if you are over 60 you are a senior and you have a discount

In [4]:
age = int(input("Enter age : "))
if age < 18 :
  watch = False
else :
  watch = True

if age >= 60 :
  senior = True
else :
  senior = False
print (age, watch, senior)

Enter age : 56
56 True False

* if your score is less than 10 you fail
* if 10-20 you pass
* if > 15 distinction

if you get distinction you get an award

In [7]:
score = int(input("Enter a number : "))
if score < 10 :
  fail = True
else :
  fail = False

if score >= 15 :
  distinction = True
else :
  distinction = False

print (score, fail, distinction)

Enter a number : 16
16 False True

* if temp < 20 you turn on the heat
* if the heat is on you close the windows
* if the windows are closed turn on ventilation

In [8]:
temp = int(input("Enter a temperature : "))
if temp < 20 :
  heat = True
else :
  heat = False

if heat == True :
  windows = False
else :
  windows = True

if windows == False :
  ventilation = True
else :
  ventilation = False

print (temp, heat, windows, ventilation)

Enter a temperature : 25
25 False True False

In [13]:
students = ['Mary','Tom','Stelios','Kate']
scores = [15,12,9,18]

print (students [0 : 2])
print (scores [0 : 2])

['Mary', 'Tom']
[15, 12]

In [25]:
numbers = [10,20,30,40,50,60,70,80,90]
print (numbers [1] )
print (numbers [-2])
print (numbers [0 : 3])
print (numbers [-3 :])
#ne pas mettre 0 pour aller jusqu'Ã  la fin, juste ne rien mettre
print (numbers [4 : 6])

20
80
[10, 20, 30]
[70, 80, 90]
[50, 60]